.nav-menu {
    margin-top: -15px;
    margin-bottom: -15px;
}

a.navbar-brand {
    cursor: default;
}

a.navbar-brand::selection {
    background: transparent;
    cursor: pointer;
}

a.navbar-brand::-moz-selection {
    background: transparent;
}
